*.swp
.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
data/*
data-*/*
!data-sandbox/*
data-sandbox/node_modules
!data/.empty
static/sab-stylesheet.css
static/badges
static/fonts
static/images
static/audio
static/styles
static/illustrations
static/collections
static/timings
static/backgrounds
static/watermarks
static/borders
static/clips
static/videos
static/icons
static/*.partial.html
static/manifest.json
static/assets
static/contents
static/songs
static/plans
static/quiz
static/data.sqlite
static/reversal
static/wasm
src/lib/data/catalog.js
src/lib/data/firebase-config.js
src/lib/data/config.js
src/lib/data/contents.js
vite.config.js.timestamp*
