*.swp
.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.development
!.env.example
stats.html
data/*
data-*/*
!data-sandbox/*
data-sandbox/node_modules
!data/.empty
static/sab-stylesheet.css
static/illustrations
static/icons
static/manifest*.json
static/assets
static/collections
static/contents
src/lib/data/catalog.js
src/gen-assets
vite.config.js.timestamp*
