.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
src/config.js
data/*
!data/.empty
static/sab-stylesheet.css
static/fonts
static/images
static/audio
static/styles
static/illustrations
static/collections
src/lib/data/book-collections
src/lib/data/catalog.js
