.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
/data
src/data/config.js
src/data/catalog.js
src/data/firebase-config.js
static
example_data

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
