.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
/data
src/lib/data/config.js
src/lib/data/catalog.js
src/lib/data/firebase-config.js
static
example_data
test_data
/project_data
*.md

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
