name: Lint

on:
    push:
        branches: ['*']
    pull_request:
        branches: ['*']

jobs:
    lint:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2

            - uses: actions/setup-node@v3
              with:
                  node-version: '16.17.0'

            - name: NPM Install
              run: |
                  node --version
                  npm --version
                  npm i
                  cd scripts
                  npm i

            - name: Add config
              run: echo "export default {};" > src/lib/data/config.js

            - name: Add catalog
              run: echo "export const catalog = [];" > src/lib/data/catalog.js

            - name: TypeScript/Svelte Check
              run: |
                  npm list --depth=0 typescript
                  npm run check

            - name: ESLint
              run: |
                  npm list --depth=0 eslint eslint-plugin-import prettier
                  npm run lint

            - name: Build
              run: |
                  npm run build:examples

            - name: Test
              run: |
                  npm run test
